<nb-card class="col-md-8 m-auto" [nbSpinner]="loadingData"
  [nbSpinnerSize]="'giant'" [nbSpinnerMessage]="'Cargando información'"
  [nbSpinnerStatus]="'primary'">

  <nb-card-header>
    <div class="row justify-content-between m-auto">
      <h5 class="text-white">Datos del paquete de documentos</h5>

      <button class="button-refresh ml-2" nbButton shape="round" size="medium"
        status="danger" (click)="close();" nbPopover="Cerrar ventana"
        nbPopoverTrigger="hover">
        <nb-icon nbSuffix icon="close-circle"
          [options]="{ animation: { type: 'pulse' } }" pack="eva"></nb-icon>
      </button>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="row">
      <div class="col-md-4">
        <img class="picture_1" [src]="data.ruta_imagen" alt="foto">
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="form-group col-md-12 mt-0">
            <label class="label">Nombre del paquete de documentos</label>
            <input type="text" nbInput [value]="data.nombre" fullWidth
              shape="semi-round" [disabled]="true">
          </div>

          <div class="form-group col-md-12 mt-0">
            <label class="label">Descripción</label>
            <textarea type="text" [value]="data.descripcion" nbInput fullWidth
              shape="semi-round" [disabled]="true"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-2 mt-0">
            <label class="label">Items</label>
            <input type="text" nbInput [value]="data.numero_documentos"
              fullWidth shape="semi-round" [disabled]="true">
          </div>
          <div class="form-group col-md-5 mt-0">
            <label class="label">Fecha de creación</label>
            <input type="text" nbInput [value]="data.fecha_creacion | date"
              fullWidth shape="semi-round" [disabled]="true">
          </div>
          <div class="form-group col-md-5 mt-0">
            <label class="label">Ultima modificación</label>
            <input type="text" nbInput [value]="data.fecha_modificacion | date"
              fullWidth shape="semi-round" [disabled]="true">
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>

  <nb-card-footer>
    <div class="row"
      *counter="let elements From docs AsCountElem 4; let ctrl = controller">
      <!-- BUTTON PREV -->
      <div class="col-md-1 d-flex flex-column">
        <button class="m-auto" nbButton shape="semi-round" size="giant"
          status="success" (click)="ctrl.prev();">
          <nb-icon nbSuffix icon="arrow-ios-back" pack="eva"></nb-icon>
        </button>
      </div>
      <!-- ITEMS -->
      <div class="row justify-content-start container-docs col-md-10 m-auto">
        <!-- DETALLE DOCUMENTOS -->
        <div class="col-md-3 pt-2" *ngFor=" let d of elements">
          <app-item-doc [documento]="d" [btnUpload]="false"
            [editPopover]="true">
          </app-item-doc>
        </div>
      </div>
      <!-- BUTTON NEXT -->
      <div class="col-md-1 d-flex flex-column">
        <button class="m-auto" nbButton shape="semi-round" size="giant"
          status="success" (click)="ctrl.next();">
          <nb-icon nbSuffix icon="arrow-ios-forward" pack="eva"></nb-icon>
        </button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>