<nb-card class="col-md-10 m-auto" [nbSpinner]="loadingData"
  [nbSpinnerSize]="'giant'" [nbSpinnerMessage]="'Cargando información'"
  [nbSpinnerStatus]="'primary'">

  <nb-card-header>
    <h5 class="text-white">Formulario de registro para Unidades Académicas</h5>
  </nb-card-header>

  <nb-card-body>
    <form [formGroup]="form" (submit)="formSubmit();">
      <div class="row">
        <!-- IMAGEN -->
        <div class="col-md-3">
          <app-file-upload formControlName="perfil" [text]="'Foto de perfil'"
            [name]="'perfil'" [status]="validatorInput('perfil', form)"
            [templateRef]="templateRef" [popoverError]="nbPopoverError"
            (change)="nbPopoverError = getError('perfil', form);">
          </app-file-upload>
        </div>

        <div class="col-md-9">
          <!-- CLAVE -->
          <div class="row">
            <div class="form-group col-md-4 m-auto mt-0">
              <label class="label">Clave de la unidad académica</label>
              <input placeholder="Clave de la unidad académica" type="text"
                nbInput fullWidth formControlName="clave" shape="rectangle"
                [nbPopover]="templateRef" [nbPopoverTrigger]="nbPopoverTrigger"
                [shape]="nbComponentShape"
                [nbPopoverContext]="{ text: nbPopoverError }"
                (keyup)="nbPopoverError = getError('clave', form);"
                (focus)="nbPopoverError = getError('clave', form);"
                [status]="validatorInput('clave', form)">
            </div>
            <!--NOMBRE-->
            <div class="form-group col-md-8 m-auto mt-0">
              <label class="label">Nombre</label>
              <input placeholder="Nombre" type="text" nbInput fullWidth
                formControlName="nombre" shape="rectangle"
                [nbPopover]="templateRef" [nbPopoverTrigger]="nbPopoverTrigger"
                [shape]="nbComponentShape"
                [nbPopoverContext]="{ text: nbPopoverError }"
                (keyup)="nbPopoverError = getError('nombre', form);"
                (focus)="nbPopoverError = getError('nombre', form);"
                [status]="validatorInput('nombre', form)">
            </div>
          </div>
          <!-- DIRECCION -->
          <div class="row">
            <div class="form-group col-md-12 m-auto mt-0">
              <label class="label">Dirección</label>
              <input placeholder="Dirección de la unidad académica" type="text"
                nbInput fullWidth formControlName="direccion" shape="rectangle"
                [nbPopover]="templateRef" [nbPopoverTrigger]="nbPopoverTrigger"
                [shape]="nbComponentShape"
                [nbPopoverContext]="{ text: nbPopoverError }"
                (keyup)="nbPopoverError = getError('direccion', form);"
                (focus)="nbPopoverError = getError('direccion', form);"
                [status]="validatorInput('direccion', form)">
            </div>
          </div>
          <!-- CORREO ELECTRONICO -->
          <div class="row">
            <div class="form-group col-md-12 m-auto mt-0">
              <label class="label">Correo Electronico</label>
              <input placeholder="Correo de la unidad académica" type="text"
                nbInput fullWidth formControlName="correo" shape="rectangle"
                [nbPopover]="templateRef" [nbPopoverTrigger]="nbPopoverTrigger"
                [shape]="nbComponentShape"
                [nbPopoverContext]="{ text: nbPopoverError }"
                (keyup)="nbPopoverError = getError('correo', form);"
                (focus)="nbPopoverError = getError('correo', form);"
                [status]="validatorInput('correo', form)">
            </div>
          </div>
          <!-- TELEFONO -->
          <div class="row">
            <div class="form-group col-md-12 m-auto mt-0">
              <label class="label">Telefono</label>
              <input placeholder="Telefono de la unidad académica" type="text"
                nbInput fullWidth formControlName="telefono" shape="rectangle"
                [nbPopover]="templateRef" [nbPopoverTrigger]="nbPopoverTrigger"
                [shape]="nbComponentShape"
                [nbPopoverContext]="{ text: nbPopoverError }"
                (keyup)="nbPopoverError = getError('telefono', form);"
                (focus)="nbPopoverError = getError('telefono', form);"
                [status]="validatorInput('telefono', form)">
            </div>
          </div>

          <div class="row mt-2">
            <div class="row col-md-12 m-auto justify-content-end">
              <!-- SUBMIT -->
              <button nbButton [disabled]="form.invalid" [status]="valid"
                [size]="'medium'" type="submit">
                Registrar
              </button>
            </div>
          </div>
        </div>
      </div>

    </form>
  </nb-card-body>
</nb-card>

<!-- Template para los popovers -->
<ng-template #templateRef let-data>
  <div *ngIf="nbPopoverError !== ''" class="bg-danger rounded p-2"
    style="max-width: 18rem;">
    <strong class="text-white text-justify">
      {{ data.text }}
    </strong>
  </div>
</ng-template>