@import "../../../@theme/styles/themes";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";

@include nb-install-component() {
  nb-card {
    border: 0;
    border-radius: 1rem;
    padding: 0;
    margin: 0;

    nb-card-header {
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      background-color: nb-theme(color-primary-700);
    }

    nb-card-body {
      border: 0;
      background-color: nb-theme(color-basic-700);

      .picture_1 {
        height: inherit;
        width: inherit;
        box-shadow: 3px 4px 8px nb-theme(color-basic-600);
        border-radius: 100%;
      }

      input,
      textarea {
        color: #fff;
        border-color: nb-theme(color-basic-600);
        box-shadow: 3px 4px 8px nb-theme(color-basic-600);
        resize: none;
      }

      > * {
        margin: 0 0.5rem;
      }
    }

    nb-card-footer {
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      background-color: nb-theme(color-primary-500);

      .container-docs {
        padding: 1%;
        border-radius: 1rem;
        background-color: nb-theme(color-basic-100);
        box-shadow: 3px 4px 8px nb-theme(color-basic-600);
        max-height: 15rem;
      }
    }
  }
}
