<div class="box">
  <nb-card class="d-flex justify-content-center text-center"
    (click)="fileInput.click();" [nbPopover]="templateRef"
    [nbPopoverTrigger]="popoverTrigger"
    [nbPopoverContext]="{ text: popoverError }" [ngClass]="status">

    <span class="label" [hidden]="!hidden">
      {{ file ? file.name : 'Arrastre la imagen o seleccione para buscar.'
      }}</span>

    <img [id]="name" [hidden]="hidden" src="" alt="">

    <input id="file" #fileInput hidden type="file">
  </nb-card>
</div>