@import "../../../@theme/styles/themes";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";

@include nb-install-component() {
  nb-card {
    flex-direction: row;
    align-items: center;
    overflow: visible;
    border: 0;
    cursor: pointer;
    border-radius: 1rem;
    height: 3.5rem;
    // width: 20rem;
    padding: 0.5rem;
    box-shadow: 3px 4px 8px nb-theme(color-basic-600);
    transition: 0.3s ease;
    -moz-transition: 0.3s ease; /* Firefox */
    -webkit-transition: 0.3s ease; /* Chrome - Safari */
    -o-transition: 0.3s ease; /* Opera */

    img {
      width: 3rem;
      height: 3rem;
    }

    .details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      @include nb-ltr(padding, 0 0.5rem 0 0.75rem);
      @include nb-rtl(padding, 0 0.75rem 0 0.5rem);
      border-left: 1px solid transparent;
    }

    .title {
      margin: 0;
      color: white;
    }
  }

  nb-card:hover {
    transform: scale(1.06);
    -moz-transform: scale(1.06); /* Firefox */
    -webkit-transform: scale(1.06); /* Chrome - Safari */
    -o-transform: scale(1.06); /* Opera */
    -ms-transform: scale(1.06); /* IE9 */
  }

  .primary {
    background-color: nb-theme(color-primary-400);
  }
  .info {
    background-color: nb-theme(color-info-400);
  }
  .success {
    background-color: nb-theme(color-success-400);
  }
  .warning {
    background-color: nb-theme(color-warning-400);
  }
  .danger {
    background-color: nb-theme(color-danger-400);
  }

  @include media-breakpoint-down(md) {
    nb-card {
      width: 6rem;

      .details,
      .title {
        display: none;
      }
    }
  }
}
