@import "../../@theme/styles/themes";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";

@include nb-install-component() {
  img {
    width: 3.5rem;
    height: 3.5rem;
  }

  @include media-breakpoint-down(sm) {
    .img {
      display: none;
    }
  }
}
