@import "../../styles/themes";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";

@include nb-install-component() {
  .menu-sidebar ::ng-deep .scrollable {
    box-shadow: 0 0 20px nb-theme(color-basic-500), 0 0 5px nb-theme(color-basic-500);
  }

  nb-layout-header {
    box-shadow: 0 0 20px nb-theme(color-basic-500), 0 0 5px nb-theme(color-basic-500);
    background-color: nb-theme(color-primary-800);
  }

  nb-sidebar {
    box-shadow: 0 0 20px nb-theme(color-basic-500), 0 0 5px nb-theme(color-basic-500);
    background-color: nb-theme(color-info-800);
  }

  nb-layout-column {
    background-color: nb-theme(color-basic-700);
  }

  .espacio {
    background-color: nb-theme(color-basic-700);
    margin-top: 1rem;
    height: 1rem;
  }
}
