@import "../../../@theme/styles/themes";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";

@include nb-install-component() {
  .container-docs {
    padding: 1%;
    border-radius: 1rem;
    background-color: nb-theme(color-basic-100);
    box-shadow: 3px 4px 8px nb-theme(color-basic-600);
    max-height: 16rem;
  }

  .picture {
    height: inherit;
    width: inherit;

    max-height: 10rem;
    max-width: 10rem;

    box-shadow: 3px 4px 8px nb-theme(color-basic-600);
    border-radius: 100%;
  }

  .content-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
  }

  nb-card:hover .content-buttons {
    display: initial;
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
  }
}
