<nb-card class="col-md-12" [nbSpinner]="loadingData" [nbSpinnerSize]="'giant'"
  [nbSpinnerMessage]="'Cargando información'" [nbSpinnerStatus]="'primary'">

  <nb-card-header class="row col-md-12 m-auto justify-content-between">
    <div class="row col-md-auto">
      <!--ICON DE INFORMACION DE ACCIONES -->
      <nb-icon [nbPopover]="templateRef" [nbPopoverTrigger]="'hover'" class="text-white h3 mt-auto mb-auto mr-2"
        icon="alert-circle-outline" pack="eva">
      </nb-icon>
      <!-- TABLE NAME -->
      <h4 class="text-white">{{ title }}</h4>
    </div>

    <div class="row col-md-auto justify-content-between">
      <nb-form-field>
        <input #search_input type="text" shape="round" nbInput nbPopover="Filtrar tabla" nbPopoverTrigger="hover"
          (keyup)="search(search_input.value)">
        <nb-icon nbSuffix icon="search-outline" pack="eva"></nb-icon>
      </nb-form-field>

      <button class="button-refresh mt-auto mb-auto ml-2" nbButton shape="round" [size]="'medium'" [status]="'info'"
        (click)="rowSelectedEmit($event,'update_data_list')" nbPopover="Actualizar datos de la tabla"
        [nbPopoverTrigger]="'hover'">
        <nb-icon nbSuffix icon="refresh-outline" pack="eva"></nb-icon>
      </button>
    </div>
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source" (custom)="rowSelectedEmit($event.data, 'view')"
      (editConfirm)="editConfirmacion($event);" (deleteConfirm)="deleteConfirmacion($event);">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

<!-- Template para los popovers -->
<ng-template #templateRef let-data>
  <div class="border rounded p-2" style="max-width: 22rem; min-width: 10rem;">

    <div class="row justify-content-between aling-item-center mb-2 text-justify p-2">
      <img class="col-md-3" src="assets/table-edit.ico">
      <p class="col-md-9 m-auto"><strong>Editar:</strong> Seleccione el control
        para editar el
        elemento correspondiente.</p>
    </div>

    <div class="row justify-content-between aling-item-center mb-2 text-justify p-2">
      <img class="col-md-3" src="assets/table-add-remove.ico">
      <p class="col-md-9 m-auto"><strong>Alta/Baja:</strong> Seleccione el
        control y confirme la
        acción
        para alta/baja del elemento.</p>
    </div>

    <div class="row justify-content-between aling-item-center mb-2 text-justify p-2">
      <img class="col-md-3" src="assets/table-view.ico">
      <p class="col-md-9 m-auto"><strong>Mirar:</strong> Seleccione para
        desplegar los detalles
        del
        elemento.</p>
    </div>

    <div class="row justify-content-between aling-item-center mb-2 text-justify p-2">
      <img class="col-md-3" src="assets/table-search.ico">
      <p class="col-md-9 m-auto"><strong>Buscar:</strong> Introduzca el termino
        deseado para
        filtrar la
        tabla.</p>
    </div>

    <div class="row justify-content-between aling-item-center mb-2 text-justify p-2">
      <img class="col-md-3" src="assets/table-load.ico">
      <p class="col-md-9 m-auto"><strong>Recargar:</strong> Para actualizar los
        datos presentados seleccione el control.</p>
    </div>
  </div>
</ng-template>