<nb-card class="col-md-10 m-auto" [nbSpinner]="loadingData"
  [nbSpinnerSize]="'giant'" [nbSpinnerMessage]="'Cargando información'"
  [nbSpinnerStatus]="'primary'">

  <!-- Data del usuario -->
  <nb-card-header>
    <div class="row justify-content-between m-auto">
      <h5 class="text-white">Datos del alumno</h5>

      <button class="button-refresh ml-2" nbButton shape="round" size="medium"
        status="danger" (click)="close();" nbPopover="Cerrar ventana"
        nbPopoverTrigger="hover">
        <nb-icon nbSuffix icon="close-circle"
          [options]="{ animation: { type: 'pulse' } }" pack="eva"></nb-icon>
      </button>
    </div>
  </nb-card-header>
  <!-- Data del usuario -->
  <nb-card-body>
    <div class="row">
      <div class="col-md-4">
        <img class="picture_1" [src]="data.perfil" alt="foto">
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="form-group col-md-3 mt-0">
            <label class="label">Matricula</label>
            <input type="text" nbInput [value]="data.matricula" fullWidth
              shape="semi-round" [disabled]="true">
          </div>
          <div class="form-group col-md-9 mt-0">
            <label class="label">Nombre del alumno</label>
            <input type="text" nbInput
              [value]="data.nombre + ' ' + data.ape_1 + ' ' + data.ape_2"
              fullWidth shape="semi-round" [disabled]="true">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-3 mt-0">
            <label class="label">Genero</label>
            <input type="text" nbInput [value]="data.genero" fullWidth
              shape="semi-round" [disabled]="true">
          </div>
          <div class="form-group col-md-9 mt-0">
            <label class="label">Unidad Académica</label>
            <input type="text" nbInput
              [value]="data.nombre + ' ' + data.ape_1 + ' ' + data.ape_2"
              fullWidth shape="semi-round" [disabled]="true">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-4 mt-0">
            <label class="label">Dirección</label>
            <input type="text" nbInput [value]="data.direccion" fullWidth
              shape="semi-round" [disabled]="true">
          </div>
          <div class="form-group col-md-4 mt-0">
            <label class="label">Email</label>
            <input type="text" nbInput [value]="data.email" fullWidth
              shape="semi-round" [disabled]="true">
          </div>
          <div class="form-group col-md-4 mt-0">
            <label class="label">Telefono</label>
            <input type="text" nbInput [value]="data.telefono" fullWidth
              shape="semi-round" [disabled]="true">
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
  <!-- Detalle documentos -->
  <nb-card-footer>
    <app-carrusel-packs-doc [packs_documentos]="packs_documentos"
      [alumno]="data">
    </app-carrusel-packs-doc>
  </nb-card-footer>
</nb-card>