<nb-card class="col-md-10 m-auto" [nbSpinner]="loadingData"
  [nbSpinnerSize]="'giant'" [nbSpinnerMessage]="'Cargando información'"
  [nbSpinnerStatus]="'primary'">

  <nb-card-header>
    <h5 class="text-white">Formulario de registro para alumno</h5>
  </nb-card-header>

  <nb-card-body>
    <form *ngIf="!loadingData" [formGroup]="form" (submit)="formSubmit();">
      <div class="row">
        <!-- IMAGEN -->
        <div class="col-md-3">
          <app-file-upload formControlName="perfil" [text]="'Foto de perfil'"
            [name]="'perfil'" [status]="validatorInput('perfil', form)"
            [templateRef]="templateRef" [popoverError]="nbPopoverError"
            (change)="nbPopoverError = getError('perfil', form);">
          </app-file-upload>
        </div>

        <div class="col-md-9">
          <div class="row">
            <!-- MATRICULA -->
            <div class="form-group col-md-3 mt-0">
              <label class="label">Matricula</label>
              <input placeholder="Matricula del alumno" type="text" nbInput
                fullWidth formControlName="matricula" [nbPopover]="templateRef"
                [nbPopoverTrigger]="nbPopoverTrigger" [shape]="nbComponentShape"
                [nbPopoverContext]="{ text: nbPopoverError }"
                (keyup)="nbPopoverError = getError('matricula', form);"
                (focus)="nbPopoverError = getError('matricula', form);"
                [status]="validatorInput('matricula', form)">
            </div>
            <!--NOMBRE-->
            <div class="form-group col-md-3 mt-0">
              <label class="label">Nombre(s)</label>
              <input placeholder="Nombre(s)" type="text" nbInput fullWidth
                formControlName="nombre" [nbPopover]="templateRef"
                [nbPopoverTrigger]="nbPopoverTrigger" [shape]="nbComponentShape"
                [nbPopoverContext]="{ text: nbPopoverError }"
                (keyup)="nbPopoverError = getError('nombre', form);"
                (focus)="nbPopoverError = getError('nombre', form);"
                [status]="validatorInput('nombre', form)">
            </div>
            <!--APE_1 -->
            <div class="form-group col-md-3 mt-0">
              <label class="label">Primer apellido</label>
              <input placeholder="Primer apellido" type="text" nbInput fullWidth
                formControlName="ape_1" [nbPopover]="templateRef"
                [nbPopoverTrigger]="nbPopoverTrigger" [shape]="nbComponentShape"
                [nbPopoverContext]="{ text: nbPopoverError }"
                (keyup)="nbPopoverError = getError('ape_1', form);"
                (focus)="nbPopoverError = getError('ape_1', form);"
                [status]="validatorInput('ape_1', form)">
            </div>
            <!-- APE_2 -->
            <div class="form-group col-md-3 mt-0">
              <label class="label">Segundo apellido</label>
              <input placeholder="Segundo apellido" type="text" nbInput
                fullWidth formControlName="ape_2" [nbPopover]="templateRef"
                [nbPopoverTrigger]="nbPopoverTrigger" [shape]="nbComponentShape"
                [nbPopoverContext]="{ text: nbPopoverError }"
                (keyup)="nbPopoverError = getError('ape_2', form);"
                (focus)="nbPopoverError = getError('ape_2', form);"
                [status]="validatorInput('ape_2', form)">
            </div>
          </div>

          <div class="row">
            <!-- GENERO -->
            <div class="form-group col-md-3 mt-0">
              <label class="label">Genero</label>
              <nb-select formControlName="genero" fullWidth
                [nbPopover]="templateRef" [nbPopoverTrigger]="nbPopoverTrigger"
                [shape]="nbComponentShape"
                [nbPopoverContext]="{ text: nbPopoverError }"
                (keyup)="nbPopoverError = getError('genero', form);"
                (focus)="nbPopoverError = getError('genero', form);"
                [status]="validatorInput('genero', form)">

                <nb-option [value]="''">Seleccione genero
                </nb-option>

                <nb-option *ngFor="let g of selecGenero" [value]="g.value">
                  {{ g.text }}
                </nb-option>
              </nb-select>
            </div>
            <!-- UNIDAD ACADEMICA -->
            <div class="form-group col-md-9 mt-0">
              <label class="label">Unidad Academica</label>
              <nb-select formControlName="idunidad" fullWidth
                [nbPopover]="templateRef" [nbPopoverTrigger]="nbPopoverTrigger"
                [shape]="nbComponentShape"
                [nbPopoverContext]="{ text: nbPopoverError }"
                (keyup)="nbPopoverError = getError('idunidad', form);"
                (focus)="nbPopoverError = getError('idunidad', form);"
                [status]="validatorInput('idunidad', form)">

                <nb-option [value]="''">Seleccione Unidad Académica
                </nb-option>

                <nb-option *ngFor="let g of unidades_academicas"
                  [value]="g.idunidad">
                  Clave: {{ g.clave }}, {{ g.nombre }}
                </nb-option>
              </nb-select>
            </div>
          </div>

          <div class="row">
            <!-- DIRECCION -->
            <div class="form-group col-md-4 mt-0">
              <label class="label">Dirección</label>
              <input placeholder="Dirección del alumno" type="text" nbInput
                fullWidth formControlName="direccion" [nbPopover]="templateRef"
                [nbPopoverTrigger]="nbPopoverTrigger" [shape]="nbComponentShape"
                [nbPopoverContext]="{ text: nbPopoverError }"
                (keyup)="nbPopoverError = getError('direccion', form);"
                (focus)="nbPopoverError = getError('direccion', form);"
                [status]="validatorInput('direccion', form)">
            </div>
            <!-- CORREO ELECTRONICO -->
            <div class="form-group col-md-4 mt-0">
              <label class="label">Correo Electronico</label>
              <input placeholder="Correo del alumno" type="text" nbInput
                fullWidth formControlName="email" [nbPopover]="templateRef"
                [nbPopoverTrigger]="nbPopoverTrigger" [shape]="nbComponentShape"
                [nbPopoverContext]="{ text: nbPopoverError }"
                (keyup)="nbPopoverError = getError('email', form);"
                (focus)="nbPopoverError = getError('email', form);"
                [status]="validatorInput('email', form)">
            </div>
            <!-- TELEFONO -->
            <div class="form-group col-md-4 mt-0">
              <label class="label">Telefono</label>
              <input placeholder="Telefono del alumno" type="text" nbInput
                fullWidth formControlName="telefono" [nbPopover]="templateRef"
                [nbPopoverTrigger]="nbPopoverTrigger" [shape]="nbComponentShape"
                [nbPopoverContext]="{ text: nbPopoverError }"
                (keyup)="nbPopoverError = getError('telefono', form);"
                (focus)="nbPopoverError = getError('telefono', form);"
                [status]="validatorInput('telefono', form)">
            </div>
          </div>

          <!-- SUBMIT -->
          <div class="row justify-content-end">
            <button nbButton [disabled]="form.invalid" [status]="valid"
              [size]="'medium'" type="submit">
              Registar
            </button>
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>

<!-- Template para los popovers -->
<ng-template #templateRef let-data>
  <div *ngIf="nbPopoverError !== ''" class="bg-danger rounded p-2"
    style="max-width: 18rem; min-width: 10rem;">
    <strong class="text-white text-justify">
      {{ data.text }}
    </strong>
  </div>
</ng-template>