<div class="col-md-12">
  <h1>Bienvanido Username</h1>
</div>

<div class="row col-md-12">
  <nb-card class="status-primary" [routerLink]="'/pages/unidad-academica'">
    <div class="row aling-items-center justify-content-around">
      <img src="assets/unidades.png" alt="">
      <h4>Unidades Académicas</h4>
    </div>
  </nb-card>

  <nb-card class="status-info" [routerLink]="'/pages/alumno'">
    <div class="row aling-items-center justify-content-around">
      <img src="assets/alumnos.png" alt="">
      <h4>Alumnos</h4>
    </div>
  </nb-card>

  <nb-card class="status-warning" [routerLink]="'/pages/documentacion'">
    <div class="row aling-items-center justify-content-around">
      <img src="assets/documentos.png" alt="">
      <h4>Documentación</h4>
    </div>
  </nb-card>

  <nb-card class="status-success">
    <div class="row aling-items-center justify-content-around">
      <img src="assets/reportes.png" alt="">
      <h4>Reportes</h4>
    </div>
  </nb-card>

  <nb-card class="status-danger" [routerLink]="'/pages/empleado'">
    <div class="row aling-items-center justify-content-around">
      <img src="assets/empleados.png" alt="">
      <h4>Gestión de empleados</h4>
    </div>
  </nb-card>
</div>